__Exercise -1: Data Cleaning and Pre-processing__<br><nr>
Dataset provided is foodgrainsproduction_fiscalyear.csv<br>
This dataset contains a data on total production of various grains in Nepal during various fiscal year. Using
the dataset complete the following tasks:<br>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

__Task1: Handling Special Characters and Missing Values__
1. Load the dataset into a Pandas Data-frame.
2. Replace special characters and non-numeric values with "NaN".
3. Fill missing values with appropriate methods(forward fill, median replacement or drop).

In [2]:
df1 = pd.read_csv('foodgrainsproduction_fiscalyear.csv')
df1.head()

    F/Y Paddy   Maize  Wheat Millet Barley  Buckwheat
0  1998  3710  1346.0   1086    291     32        NaN
1  1999  4030  1445.0   1184    295     31        NaN
2  2000  4216  1484.0   1158    283     30        NaN
3  2001  $$$$  1511.0  %%%%%    283    &&&        NaN
4  2002  4133  1569.0   1344    283     32        NaN

In [3]:
print(df1)

     F/Y Paddy   Maize  Wheat Millet Barley  Buckwheat
0   1998  3710  1346.0   1086    291     32        NaN
1   1999  4030  1445.0   1184    295     31        NaN
2   2000  4216  1484.0   1158    283     30        NaN
3   2001  $$$$  1511.0  %%%%%    283    &&&        NaN
4   2002  4133  1569.0   1344    283     32        NaN
5   2003  4456     NaN   1387    283     28        NaN
6   2004  4290  1716.0   1442    app     29        NaN
7   2005  4209  1734.0   1394    291     28        NaN
8   2006   NaN  1820.0   1515    285    (((        NaN
9   2007  4299     NaN   1572    291     28        NaN
10  2008  4524  1931.0   1344    293     23        NaN
11  2009  4023  1855.0    NaN    300     28        NaN
12  2010  $$$$  2067.0   1746    app     30        9.0
13  2011  5072  2179.0   1846   3151     35       10.0
14  2012  4505  1999.0   1727   3055     34       10.0
15  2004  4290  1716.0   1442    app     29        NaN
16  2005  4209  1734.0   1394    291     28        NaN
17  2006   NaN  1820.0   1515    285    (((        NaN

In [4]:
df1.replace(to_replace=r'[^\d.]+', value=np.nan, regex=True, inplace=True)
print(df1)

     F/Y Paddy   Maize Wheat Millet Barley  Buckwheat
0   1998  3710  1346.0  1086    291     32        NaN
1   1999  4030  1445.0  1184    295     31        NaN
2   2000  4216  1484.0  1158    283     30        NaN
3   2001   NaN  1511.0   NaN    283    NaN        NaN
4   2002  4133  1569.0  1344    283     32        NaN
5   2003  4456     NaN  1387    283     28        NaN
6   2004  4290  1716.0  1442    NaN     29        NaN
7   2005  4209  1734.0  1394    291     28        NaN
8   2006   NaN  1820.0  1515    285    NaN        NaN
9   2007  4299     NaN  1572    291     28        NaN
10  2008  4524  1931.0  1344    293     23        NaN
11  2009  4023  1855.0   NaN    300     28        NaN
12  2010   NaN  2067.0  1746    NaN     30        9.0
13  2011  5072  2179.0  1846   3151     35       10.0
14  2012  4505  1999.0  1727   3055     34       10.0
15  2004  4290  1716.0  1442    NaN     29        NaN
16  2005  4209  1734.0  1394    291     28        NaN
17  2006   NaN  1820.0  1515    285    NaN        NaN

In [5]:
df1.ffill(inplace=True)
print(df1)

     F/Y Paddy   Maize Wheat Millet Barley  Buckwheat
0   1998  3710  1346.0  1086    291     32        NaN
1   1999  4030  1445.0  1184    295     31        NaN
2   2000  4216  1484.0  1158    283     30        NaN
3   2001  4216  1511.0  1158    283     30        NaN
4   2002  4133  1569.0  1344    283     32        NaN
5   2003  4456  1569.0  1387    283     28        NaN
6   2004  4290  1716.0  1442    283     29        NaN
7   2005  4209  1734.0  1394    291     28        NaN
8   2006  4209  1820.0  1515    285     28        NaN
9   2007  4299  1820.0  1572    291     28        NaN
10  2008  4524  1931.0  1344    293     23        NaN
11  2009  4023  1855.0  1344    300     28        NaN
12  2010  4023  2067.0  1746    300     30        9.0
13  2011  5072  2179.0  1846   3151     35       10.0
14  2012  4505  1999.0  1727   3055     34       10.0
15  2004  4290  1716.0  1442   3055     29       10.0
16  2005  4209  1734.0  1394    291     28       10.0
17  2006  4209  1820.0  1515    285     28       10.0

In [6]:
df1.bfill(inplace = True)
print(df1)

     F/Y Paddy   Maize Wheat Millet Barley  Buckwheat
0   1998  3710  1346.0  1086    291     32        9.0
1   1999  4030  1445.0  1184    295     31        9.0
2   2000  4216  1484.0  1158    283     30        9.0
3   2001  4216  1511.0  1158    283     30        9.0
4   2002  4133  1569.0  1344    283     32        9.0
5   2003  4456  1569.0  1387    283     28        9.0
6   2004  4290  1716.0  1442    283     29        9.0
7   2005  4209  1734.0  1394    291     28        9.0
8   2006  4209  1820.0  1515    285     28        9.0
9   2007  4299  1820.0  1572    291     28        9.0
10  2008  4524  1931.0  1344    293     23        9.0
11  2009  4023  1855.0  1344    300     28        9.0
12  2010  4023  2067.0  1746    300     30        9.0
13  2011  5072  2179.0  1846   3151     35       10.0
14  2012  4505  1999.0  1727   3055     34       10.0
15  2004  4290  1716.0  1442   3055     29       10.0
16  2005  4209  1734.0  1394    291     28       10.0
17  2006  4209  1820.0  1515    285     28       10.0

__Task2: Checking and Dropping Duplicate Values__
1. Check for duplicate rows if found drop any duplicate rows.
2. Verify that all duplicates have been removed.

In [7]:
df1.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
dtype: bool

__Task3: Checking for Outliers__
1. Identify outliers in the numerical columns using the IQR method.
2. Remove rows if identified as outliers.
3. Convert columns to numeric values if not already numeric and ensure all numerical data is within
realistic ranges.

In [8]:
df1 = df1.apply(pd.to_numeric, errors='coerce')
def identify_and_handle_outliers(df):
    Q1 = df.quantile(0.25)
    Q3 = df.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = (df < lower_bound) | (df > upper_bound)
    cleaned_df = df[~outliers.any(axis=1)]
    outliers_df = df[outliers.any(axis=1)]
    return cleaned_df, outliers_df

df1, outliers = identify_and_handle_outliers(df1)
print('Data after cleaning:\n',df1)
print("Data with outliers:\n", outliers)

Data after cleaning:
      F/Y  Paddy   Maize  Wheat  Millet  Barley  Buckwheat
1   1999   4030  1445.0   1184     295      31        9.0
2   2000   4216  1484.0   1158     283      30        9.0
3   2001   4216  1511.0   1158     283      30        9.0
4   2002   4133  1569.0   1344     283      32        9.0
5   2003   4456  1569.0   1387     283      28        9.0
6   2004   4290  1716.0   1442     283      29        9.0
7   2005   4209  1734.0   1394     291      28        9.0
8   2006   4209  1820.0   1515     285      28        9.0
9   2007   4299  1820.0   1572     291      28        9.0
11  2009   4023  1855.0   1344     300      28        9.0
12  2010   4023  2067.0   1746     300      30        9.0
16  2005   4209  1734.0   1394     291      28       10.0
17  2006   4209  1820.0   1515     285      28       10.0
Data with outliers:
      F/Y  Paddy   Maize  Wheat  Millet  Barley  Buckwheat
0   1998   3710  1346.0   1086     291      32        9.0
10  2008   4524  1931.0   1344     293      23        9.0
13  2011   5072  2179.0   1846    3151      35       10.0
14  2012   4505  1999.0   1727    3055      34       10.0
15  2004   4290  1716.0   1442    3055      29       10.0

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, 1 to 17
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   F/Y        13 non-null     int64
 1   Paddy      13 non-null     int64
 2   Maize      13 non-null     float64
 3   Wheat      13 non-null     int64
 4   Millet     13 non-null     int64
 5   Barley     13 non-null     int64
 6   Buckwheat  13 non-null     float64
dtypes: float64(2), int64(5)
memory usage: 832.0 bytes

__Exercise -2: Data Wrangling with Pandas__<br>
To complete this exercise you will need to have following collections of dataset:
1. Dataset1: customer_data.csv
2. Dataset2: product_data.csv
3. Dataset3: sales_data.csv

__Task1: Data Loading and Cleaning__
1. Load all three datasets into Pandas Data-frames.
2. Check for missing values and handle them appropriately.
3. Convert the ”OrderDate” and ”CustomerSince” columns to datetime format.
4. Check and remove any duplicate if present.

In [10]:
df2 = pd.read_csv('customer_data.csv')
df3 = pd.read_csv('product_data.csv')
df4 = pd.read_csv('sales_data.csv')

In [11]:
print('Customer data:\n',df2.head())
print('\nProduct data:\n',df3.head())
print('\nSales data:\n', df4.head())

Customer data:
    Years of Service  Total Assets (Millions)
0                13                    20.59
1                 6                     8.24
2                 1                    10.08
3                 4                    29.00
4                12                    18.07

Product data:
   ProductID ProductName Category
0     P0001   Product_1  Clothes
1     P0002   Product_2  Clothes
2     P0003   Product_3  Grocery
3     P0004   Product_4     Home
4     P0005   Product_5  Grocery

Sales data:
   OrderID CustomerID ProductID  Quantity   Price            OrderDate
0  O00001      C0066     P0042        13  194.30  2021-01-12 15:57:26
1  O00002      C0058     P0050        14  253.92  2022-05-04 06:23:35
2  O00003      C0028     P0027        12   49.93  2020-02-17 23:00:30
3  O00004      C0078     P0022        14  102.03  2020-02-24 03:50:25
4  O00005      C0003     P0001         5  182.74  2022-04-16 15:35:10

In [12]:
df2.info()
null_count = df2.isnull().sum()
print("\nMissing values count:\n",null_count)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Years of Service         200 non-null    int64
 1   Total Assets (Millions)  200 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 3.3 KB

Missing values count:
 Years of Service           0
Total Assets (Millions)    0
dtype: int64

In [13]:
df3.info()
null_count2 = df3.isnull().sum()
print("\nMissing Values:\n", null_count2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    50 non-null     object
 1   ProductName  50 non-null     object
 2   Category     50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

Missing Values:
 ProductID      0
ProductName    0
Category       0
dtype: int64

In [14]:
df4.info()
null_count3 = df4.isnull().sum()
print("\nMissing Values:\n", null_count3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderID     1000 non-null   object
 1   CustomerID  1000 non-null   object
 2   ProductID   1000 non-null   object
 3   Quantity    1000 non-null   int64
 4   Price       1000 non-null   float64
 5   OrderDate   1000 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 47.0+ KB

Missing Values:
 OrderID       0
CustomerID    0
ProductID     0
Quantity      0
Price         0
OrderDate     0
dtype: int64

In [15]:
df4['OrderDate']=pd.to_datetime(df4['OrderDate'], errors= 'coerce')
print(df4)

    OrderID CustomerID ProductID  Quantity   Price           OrderDate
0    O00001      C0066     P0042        13  194.30 2021-01-12 15:57:26
1    O00002      C0058     P0050        14  253.92 2022-05-04 06:23:35
2    O00003      C0028     P0027        12   49.93 2020-02-17 23:00:30
3    O00004      C0078     P0022        14  102.03 2020-02-24 03:50:25
4    O00005      C0003     P0001         5  182.74 2022-04-16 15:35:10
..      ...        ...       ...       ...     ...                 ...
995  O00996      C0027     P0016        14  212.62 2020-02-18 06:40:25
996  O00997      C0056     P0038        18  147.44 2021-12-06 08:46:33
997  O00998      C0045     P0014        12  223.43 2023-07-09 21:57:03
998  O00999      C0093     P0041        16   72.84 2021-03-14 02:27:11
999  O01000      C0099     P0044        19  357.92 2020-01-09 03:37:08

[1000 rows x 6 columns]

In [16]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderID     1000 non-null   object
 1   CustomerID  1000 non-null   object
 2   ProductID   1000 non-null   object
 3   Quantity    1000 non-null   int64
 4   Price       1000 non-null   float64
 5   OrderDate   1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 47.0+ KB

In [17]:
duplicate=df2.duplicated().sum()
print(duplicate)

0

In [18]:
duplicate_2 = df3.duplicated().sum()
print(duplicate_2)

0

In [19]:
duplicate_3 = df4.duplicated().sum()
print(duplicate_3)

0

__Task2: Sub-setting and Filtering__
1. Subset the ”sales data” Data-frame to include only orders placed in the last year.
2. Subset the ”customer data” Data-frame to include only customers who have made a purchase
within last year.
3. Filter the ”product data” to include only products that belong to specified category(e.g.”Electronics”)

In [20]:
current_date = pd.Timestamp.now()

one_year_ago = current_date - pd.DateOffset(years=1)
recent_sales_data = df4[df4['OrderDate'] >= one_year_ago]

electronics_products = df3[df3['Category'] == 'Home']
print(electronics_products)
recent_sales_data.head()

   ProductID ProductName Category
3      P0004   Product_4     Home
11     P0012  Product_12     Home
14     P0015  Product_15     Home
18     P0019  Product_19     Home
22     P0023  Product_23     Home
27     P0028  Product_28     Home
32     P0033  Product_33     Home
36     P0037  Product_37     Home
37     P0038  Product_38     Home
38     P0039  Product_39     Home
44     P0045  Product_45     Home
48     P0049  Product_49     Home

   OrderID CustomerID ProductID  Quantity   Price           OrderDate
12  O00013      C0039     P0024        12  167.86 2023-11-19 11:09:52
17  O00018      C0063     P0010        12  472.58 2023-08-04 01:39:02
36  O00037      C0087     P0001         6   21.25 2023-11-21 23:39:48
47  O00048      C0051     P0047         4  313.91 2023-10-25 20:11:53
50  O00051      C0072     P0006         9  382.32 2023-10-20 04:42:53

__Task3: Group Analysis__
1. Calculate the total revenue for each region.(Revenue = Quantity*Price)
2. Determine the average and median order value per customer.
3. Find the top 5 customers in terms of the number of orders placed.

In [21]:
df4['Revenue'] = df4['Quantity'] * df4['Price']

total_revenue_per_customer = df4.groupby('CustomerID')['Revenue'].sum().reset_index()

average_order_value_per_customer = df4.groupby('CustomerID')['Revenue'].mean().reset_index()
average_order_value_per_customer.rename(columns={'Revenue': 'AverageOrderValue'}, inplace=True)

median_order_value_per_customer = df4.groupby('CustomerID')['Revenue'].median().reset_index()
median_order_value_per_customer.rename(columns={'Revenue': 'MedianOrderValue'}, inplace=True)

top_5_customers = df4['CustomerID'].value_counts().head(5).reset_index()
top_5_customers.columns = ['CustomerID', 'NumberOfOrders']

customer_stats = total_revenue_per_customer.merge(average_order_value_per_customer, on='CustomerID') \
                                           .merge(median_order_value_per_customer, on='CustomerID')

print(customer_stats)
top_5_customers

   CustomerID   Revenue  AverageOrderValue  MedianOrderValue
0       C0001  17763.33        2220.416250          1965.875
1       C0002  20997.90        2099.790000          1820.430
2       C0003  17262.93        1150.862000           896.060
3       C0004  33580.19        3052.744545          2256.840
4       C0005  19044.53        1731.320909           902.100
..        ...       ...                ...               ...
95      C0096  24590.00        1891.538462           989.650
96      C0097  31261.67        3473.518889          3779.610
97      C0098  15983.86        2283.408571          2183.160
98      C0099  27673.30        2767.330000          2236.000
99      C0100   4399.50         879.900000           701.290

[100 rows x 4 columns]

  CustomerID  NumberOfOrders
0      C0093              19
1      C0083              17
2      C0042              17
3      C0078              16
4      C0006              16

__Task4: Merging and Aggregation__
1. Merge the ”sales data” with ”customer data” on ”CustomerID”.
2. Merge the resulting Data-frame with ”product data” on ”ProductID”
3. Calculate the total revenue per product category.
4. Determine the average revenue per order for each region.

In [22]:
df4['Revenue'] = df4['Quantity'] * df4['Price']

merged_sales_customers = df4.merge(customer_stats, on='CustomerID', suffixes=('_sales', '_customer'))

merged_sales_customers.drop(columns=['Revenue_customer'], inplace=True)
print(merged_sales_customers)

merged_data = merged_sales_customers.merge(df3, on='ProductID')
print(merged_data)

total_revenue_per_category = merged_data.groupby('Category')['Revenue_sales'].sum().reset_index()
total_revenue_per_category.rename(columns={'Revenue': 'TotalRevenue'}, inplace=True)
print(total_revenue_per_category)

    OrderID CustomerID ProductID  Quantity   Price           OrderDate  \
0    O00001      C0066     P0042        13  194.30 2021-01-12 15:57:26
1    O00125      C0066     P0025        18  157.08 2023-03-30 08:17:09
2    O00353      C0066     P0017        15  227.91 2020-01-18 07:53:15
3    O00363      C0066     P0034        16  346.22 2023-10-05 18:39:33
4    O00457      C0066     P0004        10  450.60 2020-12-20 01:30:49
..      ...        ...       ...       ...     ...                 ...
995  O00913      C0098     P0011        12  324.19 2023-10-28 09:42:32
996  O00948      C0098     P0003        17  268.73 2020-01-17 02:33:16
997  O00971      C0098     P0032         6  363.86 2022-04-09 16:14:07
998  O00682      C0015     P0034         9  275.78 2022-10-14 14:54:28
999  O00850      C0015     P0037        12  288.80 2021-10-17 14:21:35

     Revenue_sales  AverageOrderValue  MedianOrderValue
0          2525.90        4086.134545           4235.70
1          2827.44        4086.134545           4235.70
2          3418.65        4086.134545           4235.70
3          5539.52        4086.134545           4235.70
4          4506.00        4086.134545           4235.70
..             ...                ...               ...
995        3890.28        2283.408571           2183.16
996        4568.41        2283.408571           2183.16
997        2183.16        2283.408571           2183.16
998        2482.02        2973.810000           2973.81
999        3465.60        2973.810000           2973.81

[1000 rows x 9 columns]
    OrderID CustomerID ProductID  Quantity   Price           OrderDate  \
0    O00001      C0066     P0042        13  194.30 2021-01-12 15:57:26
1    O00830      C0063     P0042        14   36.30 2022-07-04 22:32:12
2    O00686      C0035     P0042        19   91.00 2020-10-21 20:04:09
3    O00947      C0006     P0042         5  365.16 2023-08-22 03:46:54
4    O00960      C0062     P0042        10  469.77 2022-08-14 12:16:17
..      ...        ...       ...       ...     ...                 ...
995  O00247      C0014     P0036        13  382.80 2021-10-30 05:44:32
996  O00815      C0067     P0036         8   46.85 2021-06-06 20:20:42
997  O00201      C0017     P0036        11   47.49 2023-03-23 22:43:12
998  O00893      C0083     P0036        17  329.22 2023-08-22 00:50:16
999  O00415      C0048     P0036        17   64.16 2022-10-01 10:14:41

     Revenue_sales  AverageOrderValue  MedianOrderValue ProductName  \
0          2525.90        4086.134545          4235.700  Product_42
1           508.20        2464.737143           959.100  Product_42
2          1729.00        1436.260000           854.820  Product_42
3          1825.80        2807.065000          1525.440  Product_42
4          4697.70        2185.415000          1605.870  Product_42
..             ...                ...               ...         ...
995        4976.40        3020.650000          2409.820  Product_36
996         374.80        1514.091250           960.710  Product_36
997         522.39        2343.300000          1497.025  Product_36
998        5596.74        2740.010588          2879.920  Product_36
999        1090.72        2180.636000          1090.720  Product_36

       Category
0    Technology
1    Technology
2    Technology
3    Technology
4    Technology
..          ...
995        Toys
996        Toys
997        Toys
998        Toys
999        Toys

[1000 rows x 11 columns]
     Category  Revenue_sales
0       Books      322489.39
1     Clothes      352040.42
2     Grocery      312957.87
3        Home      552333.82
4  Technology      312592.77
5        Toys      559393.81

__Task5: Advanced Analysis__
1. Identify trends in sales over time (e.g., monthly revenue).
2. Determine the churn rate (percentage of customers who did not make a purchase in the last year).
3. Perform cohort analysis to understand the customer retention (e.g. grouping customers by the
month they made their first purchase analyzing their purchasing behavior overtime).

In [23]:
from operator import attrgetter

df4['YearMonth'] = df4['OrderDate'].dt.to_period('M')
monthly_revenue = df4.groupby('YearMonth')['Revenue'].sum().reset_index()
monthly_revenue['YearMonth'] = monthly_revenue['YearMonth'].astype(str)


one_year_ago = pd.to_datetime('today') - pd.DateOffset(years=1)
recent_customers = df4[df4['OrderDate'] > one_year_ago]['CustomerID'].unique()
total_customers = df4['CustomerID'].unique()
churn_rate = (len(total_customers) - len(recent_customers)) / len(total_customers) * 100

df4['FirstPurchaseDate'] = df4.groupby('CustomerID')['OrderDate'].transform('min')
df4['CohortMonth'] = df4['FirstPurchaseDate'].dt.to_period('M')

df4['OrderPeriod'] = df4['OrderDate'].dt.to_period('M')
df4['CohortIndex'] = (df4['OrderPeriod'] - df4['CohortMonth']).apply(attrgetter('n'))

cohort_data = df4.groupby(['CohortMonth', 'CohortIndex']).agg({'CustomerID': 'nunique'}).reset_index()

cohort_pivot = cohort_data.pivot_table(index='CohortMonth', columns='CohortIndex', values='CustomerID')

cohort_size = cohort_pivot.iloc[:, 0]
retention_matrix = cohort_pivot.divide(cohort_size, axis=0)

print(monthly_revenue,"\n\n The churn rate is: ", churn_rate, "\n \n", retention_matrix)

   YearMonth   Revenue
0    2020-01  45925.90
1    2020-02  38552.93
2    2020-03  68602.02
3    2020-04  47854.90
4    2020-05  38438.79
5    2020-06  54619.50
6    2020-07  35290.61
7    2020-08  55285.86
8    2020-09  45095.04
9    2020-10  43660.12
10   2020-11  38288.16
11   2020-12  48369.69
12   2021-01  39541.12
13   2021-02  66852.06
14   2021-03  51071.48
15   2021-04  62226.90
16   2021-05  52441.83
17   2021-06  55169.93
18   2021-07  43938.26
19   2021-08  73726.95
20   2021-09  27646.51
21   2021-10  36084.77
22   2021-11  67307.57
23   2021-12  35617.36
24   2022-01  49780.18
25   2022-02  34364.33
26   2022-03  73336.70
27   2022-04  49562.01
28   2022-05  40173.91
29   2022-06  28130.50
30   2022-07  56410.26
31   2022-08  88955.53
32   2022-09  60157.85
33   2022-10  50447.87
34   2022-11  52425.72
35   2022-12  47109.01
36   2023-01  63495.05
37   2023-02  44608.67
38   2023-03  75029.43
39   2023-04  49077.91
40   2023-05  36053.71
41   2023-06  61809.77
42   2023-07  29570.86
43   2023-08  59791.15
44   2023-09  54851.94
45   2023-10  46966.50
46   2023-11  33601.69
47   2023-12  54489.27

 The churn rate is:  35.0

 CohortIndex   0         1         2         3         4         5         6   \
CohortMonth
2020-01      1.0  0.250000  0.250000  0.300000  0.100000  0.300000  0.150000
2020-02      1.0  0.200000  0.200000  0.066667  0.133333  0.200000  0.200000
2020-03      1.0       NaN  0.142857  0.500000  0.142857  0.071429  0.214286
2020-04      1.0  0.272727       NaN  0.272727  0.090909  0.090909  0.272727
2020-05      1.0  0.250000  0.416667  0.250000       NaN  0.416667  0.166667
2020-06      1.0  0.250000       NaN  0.250000  0.250000       NaN  0.250000
2020-07      1.0       NaN       NaN  0.333333       NaN       NaN       NaN
2020-08      1.0       NaN       NaN  0.333333       NaN       NaN  0.333333
2020-09      1.0  0.428571  0.142857       NaN       NaN  0.428571  0.428571
2020-10      1.0       NaN       NaN       NaN       NaN  0.500000  0.500000
2020-12      1.0       NaN       NaN       NaN       NaN       NaN       NaN
2021-02      1.0  1.000000       NaN       NaN       NaN       NaN  1.000000
2021-03      1.0       NaN       NaN  0.500000  0.500000  0.500000       NaN
2021-06      1.0       NaN       NaN       NaN       NaN       NaN       NaN
2021-10      1.0       NaN       NaN       NaN       NaN       NaN       NaN
2021-11      1.0       NaN  0.500000       NaN       NaN       NaN       NaN
2021-12      1.0  1.000000  1.000000       NaN  1.000000       NaN       NaN

CohortIndex        7         8         9   ...        38        39        40  \
CohortMonth                                ...
2020-01      0.300000  0.250000  0.150000  ...  0.350000  0.100000  0.150000
2020-02      0.266667  0.200000  0.266667  ...  0.333333  0.133333  0.133333
2020-03           NaN  0.142857  0.142857  ...  0.142857  0.214286  0.071429
2020-04           NaN  0.181818  0.090909  ...  0.363636       NaN  0.181818
2020-05      0.083333  0.250000  0.250000  ...  0.083333  0.250000  0.250000
2020-06      0.250000       NaN  0.250000  ...  0.500000  0.250000       NaN
2020-07      0.333333  0.333333  0.333333  ...  0.333333       NaN       NaN
2020-08      0.333333  0.333333  0.333333  ...       NaN  0.333333       NaN
2020-09      0.285714  0.142857  0.142857  ...  0.428571  0.285714       NaN
2020-10      0.500000  0.500000       NaN  ...       NaN       NaN       NaN
2020-12           NaN       NaN       NaN  ...       NaN       NaN       NaN
2021-02           NaN       NaN       NaN  ...       NaN       NaN       NaN
2021-03           NaN       NaN  0.500000  ...       NaN       NaN       NaN
2021-06           NaN       NaN       NaN  ...       NaN       NaN       NaN
2021-10           NaN       NaN       NaN  ...       NaN       NaN       NaN
2021-11           NaN  0.500000       NaN  ...       NaN       NaN       NaN
2021-12           NaN       NaN       NaN  ...       NaN       NaN       NaN

CohortIndex        41        42        43        44        45        46    47
CohortMonth
2020-01      0.150000  0.150000  0.100000  0.050000  0.200000  0.100000  0.15
2020-02      0.200000  0.400000  0.066667  0.200000  0.133333  0.333333   NaN
2020-03      0.214286  0.142857       NaN       NaN  0.142857       NaN   NaN
2020-04      0.363636  0.181818  0.272727  0.363636       NaN       NaN   NaN
2020-05      0.250000  0.083333  0.083333       NaN       NaN       NaN   NaN
2020-06      0.250000  0.250000       NaN       NaN       NaN       NaN   NaN
2020-07      0.333333       NaN       NaN       NaN       NaN       NaN   NaN
2020-08           NaN       NaN       NaN       NaN       NaN       NaN   NaN
2020-09           NaN       NaN       NaN       NaN       NaN       NaN   NaN
2020-10           NaN       NaN       NaN       NaN       NaN       NaN   NaN
2020-12           NaN       NaN       NaN       NaN       NaN       NaN   NaN
2021-02           NaN       NaN       NaN       NaN       NaN       NaN   NaN
2021-03           NaN       NaN       NaN       NaN       NaN       NaN   NaN
2021-06           NaN       NaN       NaN       NaN       NaN       NaN   NaN
2021-10           NaN       NaN       NaN       NaN       NaN       NaN   NaN
2021-11           NaN       NaN       NaN       NaN       NaN       NaN   NaN
2021-12           NaN       NaN       NaN       NaN       NaN       NaN   NaN

[17 rows x 48 columns]